.header {
  width: 100%;
  padding: 1% 2%;
}
.header ul {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logoH-container {
  width: 8%;
  align-items: center;
}

.locationH-container {
  width: 10%;
  align-items: center;
}

.searchHcontainer {
  width: 35%;
}

.userHcontainer {
  width: 10%;
  align-items: center;
}

.pedidosHcontainer {
  width: 10%;
  align-items: center;
}
.cartHcontainer {
  width: 4%;
  align-items: center;
}

.searchProduct {
  width: 100%;
  padding: 2%;
}
.searchProduct form {
  width: 80%;
}

.categoryH {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 8px;
}
.inputProduct {
  width: 90%;
}

.buttonSearch {
  width: 10%;
  background-color: #f0ad64 !important;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (max-width: 1000px) {
  .header ul {
    flex-direction: column;
  }

  .logoH-container {
    margin-bottom: 10px;
    width: 100%;
  }
  .logoH-container img {
    margin: 0 auto;
  }

  .locationH-container {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .searchHcontainer {
    width: 100%;
  }
  .searchProduct {
    justify-content: center;
  }

  .userHcontainer {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .pedidosHcontainer {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .cartHcontainer {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
}
